<html>
  <head>
    {{if .TabOut}}
    <title>{{.SongName}} - {{.ArtistName}} @ UG Scraper</title>
    {{else}}
    <title>UG Scraper</title>
    {{end}}
  </head>

  <body>
	<input id="url" type="text" placeholder="Ultimate Guitar tab URL" size="50" value="{{.URL}}"></input>
	<button id="go">Go</button>

	<div id="error" style="color: red">{{.Error}}</div>

	{{if .TabOut}}
	<h1>{{.SongName}} - {{.ArtistName}}</h1>

	<pre>
	{{.TabOut}}
	</pre>
	{{end}}

    <script src="static/go.js"></script>
  </body>
</html>
